{% extends "truckregister/index.html" %}
{% load static %}
{% block content %}


<h3></h3>

<div class="col-xl-12 col-md-24 d-flex justify-content-center">
    <div class="card mb-4 shadow p-3  bg-white rounded">
        <div class="card-header">Truck Details</div>
        <div class="card-body ">
            <p>Brand:          {{object.brand}}</p> <br>
            <p>Model:          {{object.model}}</p><br>
            <p>License Number: {{object.truck_license_number}}</p><br>
            <p>Odormeter:      {{object.odometer}}</p><br>
        </div>
        <div class="card-footer ">
            <input type="hidden" name="next" value="{{ request.path }}">

            <a href="{% url 'truckregister:index'%}" class="btn btn-primary"> Back</a>
            <a href="{% url 'truckregister:truck_update' object.id %}" class="btn btn-secondary"  >Edit</a>
            <a href="{% url 'truckregister:delete_truck' object.id %}" class="btn btn-warning" >Delete</a>
            <div class="small text-white"><i class="fas fa-angle-right"></i></div>
        </div>
        {% for message in messages %}
            <div class="mt-4 alert alert-primary alert-dismissible fade show text-center {{message.tags}}" role="alert">{{message}}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-lable="Close"></button>
            </div>
            {% endfor %}
    </div>
</div> 
    
{% endblock  %}